<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>google_password_manager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE9CC3221D6105B1008A49EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE9CC3381D6105B1008A49EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE9CC3431D6105B1008A49EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
